// .body { color: #a35b27;

// }

.card-title {
    background-color: #e3d9d8;
}




.navbar {
    background-color: #E3D9D8;
}



.jumbotron {
    background-color: white;
}

.jumbotron-fluid {
    background-color: white;
}




